@model IEnumerable<PRN211_ShoesStore.Models.Entity.OrderDetail>

@{
    ViewData["Title"] = "ViewOrder";
}

@if (Model == null)
{
    <div style="height: 500px">
        <h1 style="text-align: center; margin-top: 250px; color: dodgerblue;">Waiting for order approved!!!</h1>
    </div>
}
else
{
    <h1>ViewOrder</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.shoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.order)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.specificallyShoesId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.orderId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="height: 200px;">

    </div>
}

