@model IEnumerable<PRN211_ShoesStore.Models.Entity.CartItemDetails>

@{
    ViewData["Title"] = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="bg_gray">
    @if (Model.Count() <= 0)
    {
        <div style="height: 500px">
            <h1 style="text-align: center; margin-top: 250px; color: dodgerblue;">No item in Cart!!!</h1>
        </div>
    }
    @foreach (var item in Model)
    {
        <form action="Update" method="post">
            <div class="container margin_30">
                <table class="table table-striped cart-list">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Subtotal
                            </th>
                            <th>
                                Size Number
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="thumb_cart">
                                    <img src="@item.SpecificallyShoes.shoes.image" style="width: 100px;" class="lazy" alt="Image">
                                </div>
                                @* <span class="item_cart">@item.Shoes.name</span>*@
                            </td>
                            <td>
                                <strong>@item.SpecificallyShoes.name</strong>
                            </td>
                            <td>
                                <strong>@item.SpecificallyShoes.price</strong>
                            </td>
                            <td>
                                <div class="numbers-row">
                                    <input type="number" value="@item.Quantity" id="quantity" class="qty2" name="quantity">
                                    <div class="inc button_inc">+</div><div class="dec button_inc">-</div>
                                </div>
                            </td>
                            <td>
                                <strong>@item.Price.ToString("#,##0.00")</strong>
                            </td>
                            <td>
                                <strong>@item.ShoesSize</strong>
                            </td>
                            <td class="options">
                                <a href="https://localhost:44326/Cart/Delete?cartItemId=@item.Id&cartId=@item.CartItem.Id"><i class="ti-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row add_top_30 flex-sm-row-reverse cart_actions">
                    <div class="col-sm-4 text-right">
                        <input type="hidden" name="cartItemId" value="@item.Id" />
                        <input type="hidden" name="cartId" value="@item.CartItem.Id" />
                        <input type="hidden" name="shoesId" value="@item.SpecificallyShoes.id" />
                        <button type="submit" class="btn_1 gray">Update Cart</button>
                    </div>

                    @*<div class="col-sm-8">
                <div class="apply-coupon">
                <div class="form-group form-inline">
                <input type="text" name="coupon-code" value="" placeholder="Promo code" class="form-control"><button type="button" class="btn_1 outline">Apply Coupon</button>
                </div>
                </div>
                </div>*@
                </div>
                <!-- /cart_actions -->

            </div>
            <!-- /container -->
        </form>
    }
    @if (Model.Count() > 0)
    {
        <div class="box_cart">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <ul>
                            @if (TempData["Totalprice"] != null)
                            {
                                <li>
                                    <span>Total</span> @Double.Parse(TempData["Totalprice"].ToString()).ToString("#,##0") VNĐ
                                </li>
                            }
                            @*<li>
                        <span>Shipping</span> $7.00
                        </li>
                        <li>
                        <span>Total</span> $247.00
                        </li>*@
                        </ul>

                        <a href="~/Order/CheckOut?totalPrice=@TempData["Totalprice"]&cartItemId=@Model.First().CartItem.Id" class="btn_1 full-width cart">Proceed to Checkout</a>


                    </div>
                </div>
            </div>
        </div>
    }
    <!-- /box_cart -->
    @if (TempData["Errormsg"] != null)
    {
        <h1 style="align-content: center; color: red;">@TempData["Errormsg"]</h1>
    }
</main>
<!--/main-->
